<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectReview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/ProjectReview.styles.css" asp-append-version="true" />
    <script type="text/javascript">
        function initMenu() {
            var profile = document.getElementById("profile");
            var list = document.getElementById("list-profile");
            profile.addEventListener("click", function () {
                list.classList.toggle("hidden");
                profile.classList.toggle("subdrop");
            });

            var menu = document.getElementById("menu");
            var listMenu = document.getElementById("list-menu");
            menu.addEventListener("click", function () {
                listMenu.classList.toggle("hidden");
                menu.classList.toggle("subdrop");
            });
        }
        document.addEventListener("DOMContentLoaded", function () {
            initMenu();
        });
    </script>
</head>
<body>
    <header>
        <img src="https://localhost:7123/images/logo.png" class="logo"/>
    </header>
    <div class="main">
        <div class="left main-sidebar">
            <div class="sidebar-inner leftscroll">
                <div id="sidebar-menu">
                    <ul>
                        <li class="submenu">
                            <a class="active subdrop" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-bars"></i>
                                <span> Trang chủ </span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a id="vanbanden" asp-area="" asp-controller="Documents" asp-action="Index">
                                <img src="https://localhost:7123/images/vbden.png" />
                                <span> Quản lý Văn bản đến</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a id="vanbandi" asp-area="" asp-controller="Documents" asp-action="Index">
                                <img src="https://localhost:7123/images/vbdi.png" />
                                <span> Quản lý Văn bản đi</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a id="profile" href="#">
                                <img src="https://localhost:7123/images/system.png">
                                <span> Lập hồ sơ </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled hidden" id="list-profile">
                                <li>
                                    <a asp-area="" asp-controller="CategoryProfiles" asp-action="Index"><img src="https://localhost:7123/images/folder.png"> Danh mục hồ sơ</a>
                                </li>
                                <li>
                                    <a class="last-item" asp-area="" asp-controller="JobProfiles" asp-action="Index"><img src="https://localhost:7123/images/hosodm.png"> Hồ sơ công việc</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a id="Workflow" asp-area="" asp-controller="Jobs" asp-action="Index">
                                <img src="https://localhost:7123/images/tkebaocao.png">
                                <span> Theo dõi - Xử lý công việc </span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a id="menu" href="#">
                                <img src="https://localhost:7123/images/system.png">
                                <span> Hệ thống - Danh mục </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled hidden" id="list-menu">
                                <li>
                                    <a asp-area="" asp-controller="DocumentTypes" asp-action="Index"><img src="https://localhost:7123/images/loaivanban.png"> Loại văn bản</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Departments" asp-action="Index"><img src="https://localhost:7123/images/loaivanban.png"> Danh mục đơn vị, bộ phận</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Positions" asp-action="Index"><img src="https://localhost:7123/images/loaivanban.png"> Danh mục chức vụ</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Ranks" asp-action="Index"><img src="https://localhost:7123/images/loaivanban.png"> Danh mục cấp bậc</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Users" asp-action="Index"><img src="https://localhost:7123/images/dsnguoidung.png"> Danh sách cán bộ</a>
                                </li>
                                <li>
                                    <a class="last-item" asp-area="" asp-controller="PermissionGroups" asp-action="Index"><img src="https://localhost:7123/images/phanquyen.png"> Phân quyền sử dụng</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>