
@model ProjectReview.DTO.Users.LoginDTO

@{
    ViewData["Title"] = "Login";
}
            <section class="h-100">
                <div class="container h-100">
                    <div class="row justify-content-sm-center h-100">
                        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                            @*<div class="text-center my-5">
                                <h1 class="card-title mt-3 text-center">Hệ thống quản lý hồ sơ văn bản</h1>
                            </div>*@
                            <div class="card shadow-lg" style="margin-top: 100px">
                                <div class="card-body p-5">
                                    <h1 class="fs-4 card-title fw-bold mb-3 text-center">Đăng nhập</h1>
                                    <form method="POST" class="needs-validation" novalidate="">
                                        <div class="mb-3">
                                            <label asp-for="UserName" class="mb-1 fw-bold">Tên đăng nhập</label>
                                            <input asp-for="UserName" class="form-control" aria-required="true" required autofocus>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <div class="mb-2 w-100">
                                                <label asp-for="Password" class="fw-bold">Mật khẩu</label>
                                            </div>
                                            <input asp-for="Password" type="password" class="form-control" aria-required="true" required>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button type="submit" class="btn btn-lg btn-primary">
                                                <i class="fa-solid fa-right-to-bracket me-2"></i> Đăng nhập
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
