@model ProjectReview.DTO.Positions.CreatePositionDTO
@{
    ViewData["Title"] = "Position-Create";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Thêm mới chức vụ</h4>
                </div>
                <div class="card-body container-card">
                    @*<div class="container-fluid">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="card-content col-md-6">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group m-3">
                                        <label asp-for="Name" class="control-label">Tên chức vụ</label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group m-3">
                                        <label asp-for="Note" class="control-label">Ghi chú</label>
                                        <input asp-for="Note" class="form-control" />
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                    <div class="form-group d-flex justify-content-center align-items-center" style="display: flex">
                                        <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="Positions" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                            <i class="fa-solid fa-arrow-left"></i> Trở về
                                        </a>
                                        <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                            <i class="fa-solid fa-save"></i>Thêm
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
                    <div class="card-content col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group m-3">
                                <label asp-for="Name" class="control-label">Tên chức vụ</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="Note" class="control-label">Ghi chú</label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3" style="display: flex">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="Positions" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                    <i class="fa-solid fa-save"></i>Thêm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}