@model ProjectReview.DTO.Documents.AssignDocumentDTO;
@using ProjectReview.DTO.Users;

@{
    ViewData["Title"] = "DocumentSent-Assign";
}
@*@section Scripts {
    <script>
        //const input = document.querySelector('.search-field > input');
        //console.log(input);
    </script>
}*@

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Thêm mới công việc</h4>
                </div>
                <div class="card-body container-card">
                    <div class="card-content">
                        <form asp-action="Assign" enctype="multipart/form-data">
                            <input type="hidden" asp-for="DocumentId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <label asp-for="Content" class="control-label">Nội dung công việc</label>
                                        <textarea asp-for="Content" class="form-control"></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                    <div class="form-group m-3">
                                        <label asp-for="Request" class="control-label">Yêu cầu</label>
                                        <textarea asp-for="Request" class="form-control"></textarea>
                                        <span asp-validation-for="Request" class="text-danger"></span>
                                    </div>
                                    <div class="form-group m-3">
                                        <label asp-for="Deadline" class="control-label">Hạn xử lý</label>
                                        <input asp-for="Deadline" class="form-control" type="date" />
                                        <span asp-validation-for="Deadline" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group m-3">
                                    <label asp-for="FormFile" class="control-label">Đính kèm tệp</label>
                                    <input asp-for="FormFile" class="form-control" type="file" accept=".doc,.docx,.xls,.xlsx,.csv,.pdf" />
                                    <span asp-validation-for="FormFile" class="text-danger"></span>
                                    </div>*@
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <label asp-for="HostId" class="control-label">Người chủ trì (Người có thẩm quyền)</label>
                                        <select asp-for="HostId" class="form-control" asp-items="ViewBag.HostId"></select>
                                    </div>
                                    <div class="form-group m-3">
                                        <label asp-for="InstructorId" class="control-label">Người chỉ đạo - theo dõi(Người có thẩm quyền)</label>
                                        <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>
                                    </div>
                                    <div class="form-group m-3">
                                        <label asp-for="ListUserId" class="control-label">Người thực hiện</label>
                                        <select asp-for="ListUserId" class="form-control chosen-select" multiple tabindex="6" placeholder="Người thực hiện" asp-items="ViewBag.UserId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-3 d-flex justify-content-center align-items-center">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="DocumentSent" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                    <i class="fa-solid fa-save"></i>Chuyển
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}