@model ProjectReview.DTO.PermissionGroups.CreatePermissionGroupDTO;
@using ProjectReview.Enums;
@{
    ViewData["Title"] = "User-Create";
    var data = RoleEnum.RoleEnumList;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Thêm mới cán bộ</h4>
                </div>
                <div class="card-body container-card">
                    <div class="card-content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <label asp-for="Name" class="control-label">Họ và tên</label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.RoleIds, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-6">
                                                @Html.ListBoxFor(model => model.RoleIds,new MultiSelectList(RoleEnum.RoleEnumList, "Id", "Detail"), new { @class = "form-control", multiple = "multiple", id = "Subjects_dropdown" })
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            @foreach(var item in data)
                                            {
                                                <div class="d-flex">
                                                    <input class="form-check" type="checkbox" asp-for-items="RoleIds" value=@item.Id>
                                                    <label class="form-check-label me-4">
                                                        @item.Detail
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        @*<span asp-validation-for="RoleIds" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-3 d-flex justify-content-center align-items-center">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="PermissionGroups" asp-action="Index" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                    <i class="fa-solid fa-save"></i>Thêm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Subjects_dropdown').multiselect();
        });
    </script>
}