@model ProjectReview.DTO.PermissionGroups.UpdatePermissionGroupDTO
@using ProjectReview.Enums;
@{
    ViewData["Title"] = "PermissionGroup-Edit";
    var listRole = RoleEnum.RoleEnumList;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Chỉnh sửa nhóm quyền</h4>
                </div>
                <div class="card-body container-card">
                    <div class="card-content">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <label asp-for="Name" class="control-label">Tên nhóm quyền</label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group m-3">
                                        <label class="control-label">Phân quyền</label>
                                        <div class="form-check d-flex">
                                            @foreach(var item in listRole)
                                            {
                                                bool isChecked = Model.ListRole != null && Model.ListRole.Contains(item.Id);
                                                @if(isChecked)
                                                {
                                                    <input class="form-check" type="checkbox" asp-for="ListRole" value="@item.Id" checked>
                                                } else
                                                {
                                                    <input class="form-check" type="checkbox" asp-for="ListRole" value="@item.Id">
                                                }
                                                <label class="form-check-label me-4">
                                                    @item.Detail
                                                </label>
                                            }
                                        </div>
                                        <span asp-validation-for="ListRole" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-3 d-flex justify-content-center align-items-center">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="PermissionGroups" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                    <i class="fa-solid fa-save"></i>Lưu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

