.chosen-container {
    width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    border: none;
    padding: 10px 25px 10px 10px;
    background: rgba(0, 0, 0, 0.1);
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
}

.search-choice {
    display: flex;
    height: 32px;
    position:absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.search-choice-close {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
}

.chosen-container .chosen-choices {
    border: 1px solid #a7d129;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    line-height: 3;
    border-radius: 4px;
}