@model ProjectReview.DTO.JobProfiles.UpdateJobProfileDTO
@{
    ViewData["Title"] = "JobProfile-Edit";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Chỉnh sửa hồ sơ công việc</h4>
                </div>
                <div class="card-body container-card">
                    <div class="card-content col-md-6">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden">
                            <div class="form-group m-3">
                                <label asp-for="Name" class="control-label">Tên hồ sơ công việc</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="ProfileId" class="control-label">Thuộc danh mục hồ sơ</label>
                                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.CategoryProfileId"></select>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                                <input asp-for="StartDate" class="form-control" type="date" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                                <input asp-for="EndDate" class="form-control" type="date" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="Condition" class="control-label">Tình trạng</label>
                                <input asp-for="Condition" class="form-control" />
                                <span asp-validation-for="Condition" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3">
                                <label asp-for="NumberPaper" class="control-label">Số trang</label>
                                <input asp-for="NumberPaper" class="form-control" type="number" min=1 />
                                <span asp-validation-for="NumberPaper" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3" style="display: flex">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="JobProfiles" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" style="width: 100px">
                                    <i class="fa-solid fa-save"></i>Lưu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const menu = document.querySelector(".menu-profile");
        const list = document.getElementById("list-profile");
        const menu2 = document.querySelector(".menu-jobprofile");
        const arrow = document.querySelector("#profile");
        arrow.classList.add("subdrop");
        list.classList.remove("hidden");
        menu.classList.add("subdrop");
        menu2.classList.add("active");
    </script>
}

